<section>
  <h1>Welcome Page</h1>
  <p data-bind="text: msg"></p>
  <input data-bind="value: msg, valueUpdate: 'input'" />
  <button data-bind="click: handleClick">Click Here</button>
  <span data-bind="text: clicks"></span>

  <div>
    <label>Hours
      <input type="number" data-bind="value: hours, valueUpdate: 'input'" />
  </div>
  <div>
    <label>Minutes
      <input type="number" data-bind="value: minutes, valueUpdate: 'input'" />
  </div>
  <div>
    <label>Seconds
      <input type="number" data-bind="value: seconds, valueUpdate: 'input'" />
  </div>

</section>
